
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DreamToBerich";
  src: url("./assets/fonts/Dream to Berich.ttf") format("truetype");
}

.slick-dots li button::before {
  color: rgb(168, 166, 166); /* Inactive dot color */
  font-size: 10px; /* Adjust size if needed */
}

.slick-dots li.slick-active button::before {
  color: chocolate; /* Active dot color */
  font-size: 10px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
